@charset "utf-8";

div.right_feature
{
	width:10%;
	height:40%;
	padding:1px;
	opacity:0.0;
	position:fixed;
	right:0px;
	top:20%;
	z-index:3;
}

div.right_setting
{
	/* 内容超出后自动显示上下滑动条 */
	overflow-y:auto;
	width:10%;
	height:40%;
	padding:1px;
	position:fixed;
	right:0px;
	top:20%;
	z-index:10;
	display:none;
	border:solid 1px #885F22;
}

div.click_css
{
	width:100%;
	height:50%;
	position:fixed;
	z-index:1;
}

div.book_main
{
	/* 内容超出后自动显示上下滑动条 */
	overflow-y:auto;
	position:Absolute;
	top:0px;
	right:0px;
	width:80%;
	height:100%;
}

div.all_books_left
{
	position:fixed;
	top:20%;
	left:20%;
	width:10%;
	height:60%;
	z-index:10;
	border:solid 1px #885F22;
	text-align:center;
	padding:0px 1px 0px 0px;
	display:none;
}

div.all_books_right
{
	/* 内容超出后自动显示上下滑动条 */
	overflow-y:auto;
	position:fixed;
	left:30%;
	width:50%;
	height:60%;
	top:20%;
	overflow-y:auto;
	border:solid 1px #000000;
	padding:0px 5px 0px 5px;
	margin:0px 5px 0px 0px;
	display:none;
}

div.close
{
	position:absolute;
	top:0px;
	right:0px;
	height:20px;
	width:20px;
	cursor:pointer;
}

.bookshelf
{
	padding:5px 0px 5px 0px;
	border-bottom:solid 1px #000000;
	text-align:center;
	list-style-type:none;
}

div button
{
	width:100%;
}

div
{
	background-color:#E7CBA0;
}

body
{
	/* 不知道为何在chrome浏览器中会显示乱码, 故采用英文代替:微软雅黑、宋体 */
	font-family:"Microsoft YaHei", "SimSun";
	margin:0px;
	height:100%;
	width:100%;
}